h1 {
  color: #2470b2;
}
body {
  background-color: rgb(15, 75, 0);
}

/* Selector universal */
* {
  background-color: aqua;
  /* padding: 0cap;
  margin: auto;
  box-sizing: border-box; */
}

/* Selctor de id# */
#titulo {
  color: blue;
  background-color: blueviolet;
}
/* selector clase .  */
.pfondo {
  background-color: rgb(92, 174, 78);
}
.Comentario {
  color: #060300;
  background-color: coral;
}
